:root {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Noto Sans KR,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.88);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f5f5f5;
}

a {
  color: inherit;
}

.app-max {
  max-width: 520px;
  margin: 0 auto;
}
